body {
	font-family: Arial, sans-serif;
	background-color: #fa1d15;
}

h1 {
	text-align: center;
	margin-top: 50px;
    color:gold;
}

ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

li {
	flex-basis: calc(100% / 3);
	padding: 10px;
	box-sizing: border-box;
}

.item {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	text-align: center;
}

.item img {
	width: 400px;
	height: auto;
	border-radius: 10px;
	margin-bottom: 10px;
}

.item h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.item p {
	font-size: 16px;
	margin-bottom: 10px;
}

.price {
	font-weight: bold;
	color: #f00;
	font-size: 20px;
}